<div class="language">
  <div class="container">
    <ul class="navbar-nav flex-row ml-md-auto d-md-flex float-right">
      <li class="nav-item cursor">
        <a class="nav-link" (click)="switchLanguage('en')"><i class="flag-icon flag-icon-uk"></i></a>
      </li>
      <li class="nav-item cursor">
        <a class="nav-link" (click)="switchLanguage('jp')"><i class="flag-icon flag-icon-jp"></i></a>
      </li>
      <li class="nav-item cursor">
        <a class="nav-link" (click)="switchLanguage('vn')"><i class="flag-icon flag-icon-vn"></i></a>
      </li>
    </ul>
  </div>
</div>
