USE [master]
GO
/****** Object:  Database [HRM_DB]    Script Date: 12/23/2021 2:01:51 PM ******/
CREATE DATABASE [HRM_DB]
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [HRM_DB].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [HRM_DB]
GO
/****** Object:  User [amunok01]    Script Date: 12/23/2021 2:01:51 PM ******/
CREATE USER [amunok01] WITHOUT LOGIN WITH DEFAULT_SCHEMA=[dbo]
GO
ALTER ROLE [db_owner] ADD MEMBER [amunok01]
GO
ALTER ROLE [db_accessadmin] ADD MEMBER [amunok01]
GO
ALTER ROLE [db_securityadmin] ADD MEMBER [amunok01]
GO
ALTER ROLE [db_ddladmin] ADD MEMBER [amunok01]
GO
ALTER ROLE [db_backupoperator] ADD MEMBER [amunok01]
GO
ALTER ROLE [db_datareader] ADD MEMBER [amunok01]
GO
ALTER ROLE [db_datawriter] ADD MEMBER [amunok01]
GO
ALTER ROLE [db_denydatareader] ADD MEMBER [amunok01]
GO
ALTER ROLE [db_denydatawriter] ADD MEMBER [amunok01]
GO
/****** Object:  UserDefinedFunction [dbo].[fConvertToUnSign]    Script Date: 12/23/2021 2:01:51 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE FUNCTION [dbo].[fConvertToUnSign](@inputVar NVARCHAR(MAX) )
RETURNS NVARCHAR(MAX)
AS
BEGIN    
    IF (@inputVar IS NULL OR @inputVar = '')  RETURN ''
   
    DECLARE @RT NVARCHAR(MAX)
    DECLARE @SIGN_CHARS NCHAR(256)
    DECLARE @UNSIGN_CHARS NCHAR (256)
 
    SET @SIGN_CHARS = N'ăâđêôơưàảãạáằẳẵặắầẩẫậấèẻẽẹéềểễệếìỉĩịíòỏõọóồổỗộốờởỡợớùủũụúừửữựứỳỷỹỵýĂÂĐÊÔƠƯÀẢÃẠÁẰẲẴẶẮẦẨẪẬẤÈẺẼẸÉỀỂỄỆẾÌỈĨỊÍÒỎÕỌÓỒỔỖỘỐỜỞỠỢỚÙỦŨỤÚỪỬỮỰỨỲỶỸỴÝ' + NCHAR(272) + NCHAR(208)
    SET @UNSIGN_CHARS = N'aadeoouaaaaaaaaaaaaaaaeeeeeeeeeeiiiiiooooooooooooooouuuuuuuuuuyyyyyAADEOOUAAAAAAAAAAAAAAAEEEEEEEEEEIIIIIOOOOOOOOOOOOOOOUUUUUUUUUUYYYYYDD'
 
    DECLARE @COUNTER int
    DECLARE @COUNTER1 int
   
    SET @COUNTER = 1
    WHILE (@COUNTER <= LEN(@inputVar))
    BEGIN  
        SET @COUNTER1 = 1
        WHILE (@COUNTER1 <= LEN(@SIGN_CHARS) + 1)
        BEGIN
            IF UNICODE(SUBSTRING(@SIGN_CHARS, @COUNTER1,1)) = UNICODE(SUBSTRING(@inputVar,@COUNTER ,1))
            BEGIN          
                IF @COUNTER = 1
                    SET @inputVar = SUBSTRING(@UNSIGN_CHARS, @COUNTER1,1) + SUBSTRING(@inputVar, @COUNTER+1,LEN(@inputVar)-1)      
                ELSE
                    SET @inputVar = SUBSTRING(@inputVar, 1, @COUNTER-1) +SUBSTRING(@UNSIGN_CHARS, @COUNTER1,1) + SUBSTRING(@inputVar, @COUNTER+1,LEN(@inputVar)- @COUNTER)
                BREAK
            END
            SET @COUNTER1 = @COUNTER1 +1
        END
        SET @COUNTER = @COUNTER +1
    END
    -- SET @inputVar = replace(@inputVar,' ','-')
    RETURN @inputVar
END
GO
/****** Object:  Table [dbo].[Access]    Script Date: 12/23/2021 2:01:51 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Access](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](50) NULL,
	[RouterLink] [nvarchar](50) NULL,
	[NameTrans] [nvarchar](50) NULL,
 CONSTRAINT [PK__RoleAcce__3214EC0736D3E050] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Account]    Script Date: 12/23/2021 2:01:51 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Account](
	[UserName] [nvarchar](50) NOT NULL,
	[Password] [nvarchar](50) NOT NULL,
	[StaffId] [int] NULL,
	[RoleId] [int] NULL,
	[Email] [nvarchar](50) NULL,
	[CreateDate] [date] NULL,
	[UpdateDate] [date] NULL,
	[RefreshToken] [nvarchar](max) NULL,
	[TokenExpired] [datetime] NULL,
 CONSTRAINT [PK_Account] PRIMARY KEY CLUSTERED 
(
	[UserName] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Department]    Script Date: 12/23/2021 2:01:51 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Department](
	[Id] [int] NOT NULL,
	[ParentId] [int] NULL,
	[Name] [nvarchar](50) NULL,
	[LeaderStaffId] [int] NULL,
	[CreateDate] [date] NULL,
	[CreateId] [int] NULL,
	[UpdateDate] [date] NULL,
	[UpdateId] [int] NULL,
 CONSTRAINT [PK_Department] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Position]    Script Date: 12/23/2021 2:01:51 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Position](
	[Id] [int] NOT NULL,
	[Name] [nvarchar](50) NULL,
	[CreateDate] [date] NULL,
	[CreateId] [int] NULL,
	[UpdateDate] [date] NULL,
	[UpdateId] [int] NULL,
 CONSTRAINT [PK_Position] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Role]    Script Date: 12/23/2021 2:01:51 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Role](
	[Id] [int] NOT NULL,
	[Name] [nvarchar](50) NULL,
	[CreateDate] [datetime] NULL,
	[UpdateDate] [datetime] NULL,
 CONSTRAINT [PK_Role] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[RoleAccess]    Script Date: 12/23/2021 2:01:51 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[RoleAccess](
	[RoleId] [int] NOT NULL,
	[AccessId] [int] NOT NULL,
 CONSTRAINT [PK_RoleAccess] PRIMARY KEY CLUSTERED 
(
	[RoleId] ASC,
	[AccessId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Staff]    Script Date: 12/23/2021 2:01:51 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Staff](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[FirstName] [nvarchar](50) NULL,
	[LastName] [nvarchar](50) NULL,
	[DateOfBirth] [date] NULL,
	[Sex] [int] NULL,
	[Address] [nvarchar](max) NULL,
	[Email] [nvarchar](50) NULL,
	[Phone] [nvarchar](20) NULL,
	[ContractDate] [date] NULL,
	[DepartmentId] [int] NULL,
	[PositionId] [int] NULL,
	[CreateDate] [date] NULL,
	[UpdateDate] [date] NULL,
 CONSTRAINT [PK_Staff] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Access] ON 

INSERT [dbo].[Access] ([Id], [Name], [RouterLink], [NameTrans]) VALUES (1, N'Dashboard', N'/Dashboard', N'Header.Dashboard')
INSERT [dbo].[Access] ([Id], [Name], [RouterLink], [NameTrans]) VALUES (2, N'Staff', N'/Staff/List', N'Header.Staff')
INSERT [dbo].[Access] ([Id], [Name], [RouterLink], [NameTrans]) VALUES (3, N'Department', N'/Department/List', N'Header.Department')
SET IDENTITY_INSERT [dbo].[Access] OFF
GO
INSERT [dbo].[Account] ([UserName], [Password], [StaffId], [RoleId], [Email], [CreateDate], [UpdateDate], [RefreshToken], [TokenExpired]) VALUES (N'le_a', N'dhw4YPjgdw1PtBxWoJihVQ==', 2, 4, N'le_a@company.com', CAST(N'2021-12-23' AS Date), CAST(N'2021-12-23' AS Date), NULL, NULL)
INSERT [dbo].[Account] ([UserName], [Password], [StaffId], [RoleId], [Email], [CreateDate], [UpdateDate], [RefreshToken], [TokenExpired]) VALUES (N'le_b', N'dhw4YPjgdw1PtBxWoJihVQ==', 3, 5, N'le_b@company.com', CAST(N'2021-12-19' AS Date), CAST(N'2021-12-19' AS Date), NULL, NULL)
INSERT [dbo].[Account] ([UserName], [Password], [StaffId], [RoleId], [Email], [CreateDate], [UpdateDate], [RefreshToken], [TokenExpired]) VALUES (N'le_c', N'dhw4YPjgdw1PtBxWoJihVQ==', 4, 5, N'le_c@company.com', CAST(N'2021-12-23' AS Date), CAST(N'2021-12-23' AS Date), NULL, NULL)
GO
INSERT [dbo].[Department] ([Id], [ParentId], [Name], [LeaderStaffId], [CreateDate], [CreateId], [UpdateDate], [UpdateId]) VALUES (1, 1, N'DEV', 1, NULL, NULL, CAST(N'2021-12-23' AS Date), 27)
INSERT [dbo].[Department] ([Id], [ParentId], [Name], [LeaderStaffId], [CreateDate], [CreateId], [UpdateDate], [UpdateId]) VALUES (2, 2, N'DEV-BAS', 2, NULL, NULL, CAST(N'2021-12-23' AS Date), 1)
INSERT [dbo].[Department] ([Id], [ParentId], [Name], [LeaderStaffId], [CreateDate], [CreateId], [UpdateDate], [UpdateId]) VALUES (3, 3, N'DEV-EMS', 5, NULL, NULL, CAST(N'2021-12-19' AS Date), 1)
GO
INSERT [dbo].[Position] ([Id], [Name], [CreateDate], [CreateId], [UpdateDate], [UpdateId]) VALUES (1, N'Manager', NULL, NULL, NULL, NULL)
INSERT [dbo].[Position] ([Id], [Name], [CreateDate], [CreateId], [UpdateDate], [UpdateId]) VALUES (2, N'Team Leader', NULL, NULL, NULL, NULL)
INSERT [dbo].[Position] ([Id], [Name], [CreateDate], [CreateId], [UpdateDate], [UpdateId]) VALUES (3, N'Project Leader', NULL, NULL, NULL, NULL)
GO
INSERT [dbo].[Role] ([Id], [Name], [CreateDate], [UpdateDate]) VALUES (1, N'GA', CAST(N'2021-12-23T11:10:07.140' AS DateTime), CAST(N'2021-12-23T11:10:07.140' AS DateTime))
INSERT [dbo].[Role] ([Id], [Name], [CreateDate], [UpdateDate]) VALUES (3, N'Manager', CAST(N'2021-12-23T11:10:07.140' AS DateTime), CAST(N'2021-12-23T11:10:07.140' AS DateTime))
INSERT [dbo].[Role] ([Id], [Name], [CreateDate], [UpdateDate]) VALUES (4, N'Leader', CAST(N'2021-12-23T11:10:07.140' AS DateTime), CAST(N'2021-12-23T11:10:07.140' AS DateTime))
GO
INSERT [dbo].[RoleAccess] ([RoleId], [AccessId]) VALUES (1, 1)
INSERT [dbo].[RoleAccess] ([RoleId], [AccessId]) VALUES (1, 2)
INSERT [dbo].[RoleAccess] ([RoleId], [AccessId]) VALUES (3, 1)
GO
SET IDENTITY_INSERT [dbo].[Staff] ON 

INSERT [dbo].[Staff] ([Id], [FirstName], [LastName], [DateOfBirth], [Sex], [Address], [Email], [Phone], [ContractDate], [DepartmentId], [PositionId], [CreateDate], [UpdateDate]) VALUES (1, N'Nhân', N'Lê', CAST(N'1992-03-10' AS Date), 1, N'Huế', N'levanthanhnhan92@gmail.com', N'0906444231', CAST(N'2014-01-01' AS Date), 1, 1, CAST(N'2000-01-01' AS Date), CAST(N'2021-12-19' AS Date))
INSERT [dbo].[Staff] ([Id], [FirstName], [LastName], [DateOfBirth], [Sex], [Address], [Email], [Phone], [ContractDate], [DepartmentId], [PositionId], [CreateDate], [UpdateDate]) VALUES (2, N'A', N'Lê', CAST(N'2021-12-19' AS Date), 1, N'16 Mỹ Đình, Hà Nội', N'lea@gmail.com', N'0906444232', CAST(N'2015-12-19' AS Date), 2, 2, CAST(N'2021-12-19' AS Date), CAST(N'2021-12-19' AS Date))
INSERT [dbo].[Staff] ([Id], [FirstName], [LastName], [DateOfBirth], [Sex], [Address], [Email], [Phone], [ContractDate], [DepartmentId], [PositionId], [CreateDate], [UpdateDate]) VALUES (3, N'B', N'Lê', CAST(N'2021-12-19' AS Date), 1, N'16 Mỹ Đình, Hà Nội', N'leb@gmail.com', N'0906444233', CAST(N'2015-12-19' AS Date), 2, 3, CAST(N'2021-12-19' AS Date), CAST(N'2021-12-19' AS Date))
SET IDENTITY_INSERT [dbo].[Staff] OFF
GO
ALTER TABLE [dbo].[Account]  WITH CHECK ADD  CONSTRAINT [FK_Account_Staff] FOREIGN KEY([StaffId])
REFERENCES [dbo].[Staff] ([Id])
GO
ALTER TABLE [dbo].[Account] CHECK CONSTRAINT [FK_Account_Staff]
GO
ALTER TABLE [dbo].[RoleAccess]  WITH CHECK ADD  CONSTRAINT [FK_RoleAccess_Access] FOREIGN KEY([AccessId])
REFERENCES [dbo].[Access] ([Id])
GO
ALTER TABLE [dbo].[RoleAccess] CHECK CONSTRAINT [FK_RoleAccess_Access]
GO
ALTER TABLE [dbo].[RoleAccess]  WITH CHECK ADD  CONSTRAINT [FK_RoleAccess_Role] FOREIGN KEY([RoleId])
REFERENCES [dbo].[Role] ([Id])
GO
ALTER TABLE [dbo].[RoleAccess] CHECK CONSTRAINT [FK_RoleAccess_Role]
GO
ALTER TABLE [dbo].[Staff]  WITH CHECK ADD  CONSTRAINT [FK_Staff_Department] FOREIGN KEY([DepartmentId])
REFERENCES [dbo].[Department] ([Id])
GO
ALTER TABLE [dbo].[Staff] CHECK CONSTRAINT [FK_Staff_Department]
GO
ALTER TABLE [dbo].[Staff]  WITH CHECK ADD  CONSTRAINT [FK_Staff_Position] FOREIGN KEY([PositionId])
REFERENCES [dbo].[Position] ([Id])
GO
ALTER TABLE [dbo].[Staff] CHECK CONSTRAINT [FK_Staff_Position]
GO
USE [master]
GO
