<h2>{{'StaffList.ScreenName' | translate}}</h2>

<app-search
            (onSearch)="getStaff($event)"
            (onClear)="clearSearch($event)"
            [isShowStaffContainer]="true"
            ></app-search>

<div class="clearfix">
  <div class="float-right mg-20">
    <ng-template #tipRegister><b>{{'Tooltip.tipRegister' | translate}}</b></ng-template>
    <a class="ml-10" routerLink="/Staff/Register" routerLinkActive="router-link-active"><img src="../assets/images/add.png" width="40" height="40" [ngbTooltip]="tipRegister" /></a>
    <ng-template #tipDelete><b>{{'Tooltip.tipDelete' | translate}}</b></ng-template>
    <a class="ml-10" (click)="deleteClick()"><img src="../assets/images/delete.png" width="40" height="40" [ngbTooltip]="tipDelete" /></a>
  </div>
</div>

<div class="overflow-x">
  <table class="table table-striped table-bordered table-hover">
    <thead class="thead-light">
      <tr>
        <th>
          <input type="checkbox" [(ngModel)]="masterSelected" name="list_name" #list_name value="m1" (change)="checkUncheckAll()" />
        </th>
        <th>
          {{'StaffList.Name' | translate}}
        </th>
        <th>
          {{'StaffList.DateOfBirth' | translate}}
        </th>
        <th>
          {{'StaffList.Sex' | translate}}
        </th>
        <th>
          {{'StaffList.Address' | translate}}
        </th>
        <th>
          {{'StaffList.Phone' | translate}}
        </th>
        <th>
          {{'StaffList.Department' | translate}}
        </th>
        <th>
          {{'StaffList.Position' | translate}}
        </th>
        <th class="width-action">
          {{'StaffList.Action' | translate}}
        </th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let relationStaff of listRelationStaff | paginate: { itemsPerPage: pageCount, currentPage: p }">
        <td>
          <input type="checkbox" [(ngModel)]="relationStaff.isSelected" name="list_name" value="{{relationStaff.id}}" (change)="isAllSelected()" />
        </td>
        <td>{{relationStaff.lastName}} {{relationStaff.firstName}} </td>
        <td>{{relationStaff.dateOfBirth | date:'dd/MM/yyyy'}}</td>
        <td>{{relationStaff.sexName}}</td>
        <td>{{relationStaff.address}}</td>
        <td>{{relationStaff.phone}}</td>
        <td>{{relationStaff.departmentName}}</td>
        <td>{{relationStaff.positionName}}</td>
        <td>
          <div class="float-left">
            <ng-template #tipEdit><b>{{'Tooltip.tipEdit' | translate}}</b></ng-template>
            <a class="mr-10" [routerLink]="['/Staff/', relationStaff.id, 'Edit']"><img src="../assets/images/edit.png" width="30" height="30" [ngbTooltip]="tipEdit" /></a>
          </div>
          <div>
            <ng-template #tipView><b>{{'Tooltip.tipView' | translate}}</b></ng-template>
            <a class="mr-10" [routerLink]="['/Staff/', relationStaff.id, 'Detail']" routerLinkActive="router-link-active"><img src="../assets/images/detail.png" width="30" height="30" [ngbTooltip]="tipView" /></a>
          </div>
        </td>
      </tr>
    </tbody>
  </table>
</div>


<pagination-controls autoHide="true" previousLabel="{{'pagination.Previous' | translate}}" nextLabel="{{'pagination.Next' | translate}}" (pageChange)="p = $event"></pagination-controls>
