.dept-pos-combo {
  width: 15%;
  float: left;
  margin-right: 10px
}

.input-user-search {
  width: 48%;
  float: left;
}

.ml-16{
  margin-left:-16px;
}

.div-search-clear {
  width: 20%;
  float: left;
}

.button-search-clear {
  margin-top: 40px;
  float: right;
}

.div-function {
  float: right;
  margin-top: 5px;
  margin-bottom: 15px;
}

.width-action {
  width: 105px;
}

.ml-10 {
  margin-left: 10px;
}

.mr-10 {
  margin-right: 10px;
}

.mt-10 {
  margin-top: 20px;
}

a:hover {
  cursor: pointer !important;
}

.mb-80 {
  margin-bottom: 80px;
}

.mg-20 {
  margin: 20px 0;
}

#headingOne:hover {
  cursor: pointer !important;
}

.overflow-x {
    overflow-x: auto;
}
