.text-font {
  font-weight: bold;
  font-size: 80%;
  margin-bottom: 2px;
}

.avatar {
  margin-top: 5px;
  width: 140px;
}

.avatar_image {
  width: 140px;
  height: 100px;
}

.cancle {
  float: right;
}

.upload{
  text-align:center;
  margin-top:5px;
}

.min-width {
    min-width: 75px;
}
