<h2>{{'Dashboard.Title' | translate}}</h2>

<!-- Chart Staff -->
<div class="row mb-20">
  <div class="col-md-12">
    <div class="card mb-50">
      <div class="card-header font-bold">
        {{'Dashboard.LblStaff' | translate}}
      </div>
      <div class="card-body shadow">
        <staff-chart></staff-chart>
      </div>
    </div>
  </div>
</div>

<!-- Chart Department & Project -->
<div class="row">
  <div class="col mb-50">
    <div class="card">
      <div class="card-header font-bold">
        {{'Dashboard.LblDepartment' | translate}}
      </div>
      <div class="card-body shadow">
        <department-chart></department-chart>
      </div>
    </div>
  </div>
  <!--<div class="col mb-50">
    <div class="card">
      <div class="card-header font-bold">
        Project
      </div>
      <div class="card-body shadow">
        <project-chart></project-chart>
      </div>
    </div>
  </div>-->
</div>

