<div class="container">
  <div class="row">
    <div class="col-md-6 main-form">
      <h1>Edit Account</h1>
      <div class="col-md-12">
        <form id="registerForm" method="post" [formGroup]="regisForm" (ngSubmit)="onSubmit()">
          <hr>
          <div class="text-danger validation-summary-valid" data-valmsg-summary="true">
            <ul>
              <li style="display:none"></li>
            </ul>
          </div>
          <div class="form-group mb-30">
            <p class="text-font">{{'Register.Username' | translate}}</p>
            <input disabled [ngModel]="account.userName" class="form-control" id="Input_Username" type="text" formControlName="username" [ngClass]="{ 'is-invalid': submitted && regisData.username.errors }">
            <div *ngIf="submitted && regisData.username.errors" class="alert-danger-text">
              <span *ngIf="regisData.username.errors.required">{{'Register.Message.UsernameRequired' | translate}}</span>
            </div>
          </div>
          <div class="form-group mb-30">
            <p class="text-font">{{'Register.Staff' | translate}}</p>
            <select [ngModel]="account.staffId" class="form-control" id="Input_Staff" formControlName="staff" [ngClass]="{ 'is-invalid': submitted && regisData.staff.errors }">
              <option *ngFor="let staff of lstStaff;" [ngValue]="staff.id">
                {{staff.lastName}} {{staff.firstName}}
              </option>
            </select>
            <div *ngIf="submitted && regisData.staff.errors" class="alert-danger-text">
              <span *ngIf="regisData.staff.errors.required">{{'Register.Message.StaffRequired' | translate}}</span>
            </div>
          </div>
          <div class="form-group mb-30">
            <p class="text-font">{{'Register.Role' | translate}}</p>
            <select [ngModel]="account.roleId" class="form-control" id="Input_Role" formControlName="role" [ngClass]="{ 'is-invalid': submitted && regisData.role.errors }">
              <option *ngFor="let role of lstRole; let i = index" [ngValue]="role.id" [attr.selected]='i==0?"selected":null'>
                {{role.name}}
              </option>
            </select>
            <div *ngIf="submitted && regisData.role.errors" class="alert-danger-text">
              <span *ngIf="regisData.role.errors.required">{{'Register.Message.RoleRequired' | translate}}</span>
            </div>
          </div>
          <div class="form-group mb-30">
            <p class="text-font">{{'Register.Password' | translate}}</p>
            <input [ngModel]="account.password" class="form-control" type="password" id="Input_Password" maxlength="100" formControlName="password" [ngClass]="{ 'is-invalid': submitted && regisData.password.errors }">
            <div *ngIf="submitted && regisData.password.errors" class="alert-danger-text">
              <span *ngIf="regisData.password.errors.required">{{'Register.Message.PasswordRequired' | translate}}</span>
              <span *ngIf="regisData.password.errors.minlength">{{'Register.Message.PasswordMinLength' | translate}}</span>
              <span *ngIf="regisData.password.errors.maxlength">{{'Register.Message.PasswordMaxLength' | translate}}</span>
            </div>
          </div>
          <div class="form-group">
            <p class="text-font">{{'Register.ConfirmPassword' | translate}}</p>
            <input class="form-control" type="password" id="Input_ConfirmPassword" formControlName="confirmPassword" [ngClass]="{ 'is-invalid': submitted && regisData.confirmPassword.errors }">
            <div *ngIf="submitted && regisData.confirmPassword.errors" class="alert-danger-text">
              <span *ngIf="regisData.confirmPassword.errors.required">{{'Register.Message.PasswordRequired' | translate}}</span>
              <span *ngIf="regisData.confirmPassword.errors.mustMatch">{{'Register.Message.PasswordNotMatch' | translate}}</span>
              <span *ngIf="regisData.confirmPassword.errors.minlength">{{'Register.Message.PasswordMinLength' | translate}}</span>
              <span *ngIf="regisData.confirmPassword.errors.maxlength">{{'Register.Message.PasswordMaxLength' | translate}}</span>
            </div>
          </div>
          <div class="row float-right">
            <div class="col">
              <button type="submit" class="btn btn-primary">{{'Register.BtnRegis' | translate}}</button>
              <button class="btn btn-outline-secondary ml-2" (click)="onback()">{{'DepartmentEdit.BtnCancel' | translate}}</button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
