<!-- Modal -->
  <form id="changepassword" method="post" (ngSubmit)="onSubmit()" [formGroup]="changepasswordFormGroup">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">{{'ChangePassword.Title' | translate}}</h4>
      </div>
      <div class="modal-body">
        <div class="col-md-12">

          <!-- MESSAGE SUCCESS -->
          <div [hidden]="!isShowChangePasswordSuccess" class="alert-success alert mt-20">
            <span>{{'ChangePassword.Message.ChangePasswordSuccess' | translate}}</span>
          </div>

          <!-- MESSAGE ERROR -->
          <div [hidden]="!isShowChangePasswordError" class="alert-danger alert mt-20">
            <span>{{'ChangePassword.Message.ChangePasswordError' | translate}}</span>
          </div>

          <!-- FORM INPUT CONTROLS -->
          <div class="form-group">
            <label for="Input_Password">{{'ChangePassword.OldPassword' | translate}}</label>
            <input class="form-control" type="password" maxlength="100" formControlName="passwordOld" [ngClass]="{ 'is-invalid': submitted && changepasswordData.passwordOld.errors }">
            <div *ngIf="submitted && changepasswordData.passwordOld.errors" class="alert-danger-text">
              <span class="text-danger" *ngIf="changepasswordData.passwordOld.errors">{{'ChangePassword.Message.OldPasswordRequired' | translate}}</span>
            </div>
          </div>
          <div class="form-group">
            <label for="Input_Password">{{'ChangePassword.NewPassword' | translate}}</label>
            <input class="form-control" type="password" maxlength="100" formControlName="passwordNew" [ngClass]="{ 'is-invalid': submitted && changepasswordData.passwordNew.errors }">
            <div *ngIf="submitted && changepasswordData.passwordNew.errors" class="alert-danger-text">
              <span class="text-danger" *ngIf="changepasswordData.passwordNew.errors">{{'ChangePassword.Message.NewPasswordRequired' | translate}}</span>
            </div>
          </div>
          <div class="form-group">
            <label for="Input_ConfirmPassword">{{'ChangePassword.ConfirmPassword' | translate}}</label>
            <input class="form-control" type="password" formControlName="confirmPassword" [ngClass]="{ 'is-invalid': submitted && changepasswordData.confirmPassword.errors }">
            <div *ngIf="submitted && changepasswordData.confirmPassword.errors" class="alert-danger-text">
              <span class="text-danger" *ngIf="changepasswordData.confirmPassword.errors.required">{{'ChangePassword.Message.ConfirmPasswordRequired' | translate}}</span>
              <span class="text-danger" *ngIf="changepasswordData.confirmPassword.errors.mustMatch">{{'ChangePassword.Message.PasswordNotMatch' | translate}}</span>
            </div>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <div class="form-group">
          <!-- BUTTONS -->
          <div class="col-xs-offset-5 col-xs-7">
            <div [hidden]="isShowLoginAgain">
              <button class="btn btn-primary ml-1 button-search-clear" type="submit">{{'ChangePassword.Title' | translate}}</button>
              <button (click)="hideModal()" class="btn btn-outline ml-1 btn btn-outline-secondary" type="button">{{'ChangePassword.btnCancel' | translate}}</button>
            </div>
            <button (click)="hideModal()" [hidden]="!isShowLoginAgain" class="btn btn-primary" type="button">{{'ChangePassword.btnDone' | translate}}</button>
          </div>
        </div>
      </div>
    </div>
  </form>
