<div class="text-center nimbus-is-editor signin" cz-shortcut-listen="true">
  <div class="container">
    <div class="col-sm-9 col-md-7 col-lg-5 mx-auto">
      <div class="card card-signin my-5 shadow">

        <div class="top-content-style" (deferLoad)="imgLogo.show = true">
          <img width="280" height="90" alt="Logo" [src]="imgLogo.url" />
        </div>

        <div class="card-body">

          <!-- Form Login -->
          <form class="form-signin mg-form fade-in" [formGroup]="loginFormGroup" (ngSubmit)="onSubmit()" [hidden]="!isShowLoginForm">
            <h4 class="card-title text-center mb-10 text-uppercase">{{'Login.Title' | translate}}</h4>

            <!-- Username -->
            <div class="form-label-group mb-20">
              <input type="text" class="form-control" formControlName="username" placeholder="{{'Login.Username' | translate}}" [ngClass]="{ 'is-invalid': submitted && loginData.username.errors }">
              <div *ngIf="submitted && loginData.username.errors" class="alert-danger-text">
                <span *ngIf="loginData.username.errors">{{'Login.Message.UsernameRequired' | translate}}</span>
              </div>
            </div>

            <!-- Password -->
            <div class="form-label-group mb-20">
              <input type="password" class="form-control" formControlName="password" placeholder="{{'Login.Password' | translate}}" [ngClass]="{ 'is-invalid': submitted && loginData.password.errors }">
              <div *ngIf="submitted && loginData.password.errors" class="alert-danger-text">
                <span *ngIf="loginData.password.errors">{{'Login.Message.PasswordRequired' | translate}}</span>
              </div>
            </div>

            <!-- Language -->
            <select class="form-control mb-20" (change)='onChangeLanguage($event)'>
              <option *ngFor="let option of langOptions"
                      [selected]="option.id === langActive"
                      [value]="option.id">
                {{ option.des }}
              </option>
            </select>

            <!-- Button Login -->
            <button class="btn btn-lg btn-primary btn-block text-uppercase mb-20" type="submit">{{'Login.BtnLogin' | translate}}</button>

            <!-- Login Error Message -->
            <div [hidden]="!isShowLoginError" class="alert-danger alert mt-20">
              <span>{{'Login.Message.UsernamePasswordWrong' | translate}}</span>
            </div>

            <!-- Register Account -->
            <p class="mb-3 text-muted link" [routerLink]="['/SignUp']">{{'SignUp.BtnSignUpLogin' | translate}}</p>
          </form>

          <!-- Copyright -->
          <p class="mt-3 text-muted" style="font-weight: lighter; margin-bottom: 0px !important">{{'Login.LblCopyright' | translate}}</p>
        </div>
      </div>
    </div>
  </div>
</div>

